#afficher{

width: 300px;
height: 100px;
 background-color: rgb(129, 129, 129);
}

.btm{
color: rgb(211, 211, 211);
font-size: 50px;
max-width: 250px;
display: flex;
flex-wrap: wrap;

justify-content: space-between;


}

.btn{


    font-size: 30px;
}